services:
  glances:
    image: nicolargo/glances:latest
    container_name: glances
    restart: always
    network_mode: "host"
    privileged: true
    environment:
      GLANCES_OPT: "-w --disable-webui"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/os-release:/etc/os-release:ro
    pid: "host"

  glanceboard:
    build:
      context: ./frontend
    container_name: glanceboard
    restart: always
    ports:
      - "2222:80"
    depends_on:
      - glances
    environment:
      VITE_API_URL: "http://host.docker.internal:61208"  # Falls du Vite env variables nutzt
