services:
  glances:
    image: nicolargo/glances:latest
    container_name: glances
    restart: always
    network_mode: "host"
    privileged: true
    environment:
      GLANCES_OPT: "-w --disable-webui"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/os-release:/etc/os-release:ro
    pid: "host"

  ping-api:
    build:
      context: ./ping-api
    container_name: ping-api
    restart: always
    ports:
      - "22223:22223"

  glanceboard:
    build:
      context: ./frontend
      #args:
      #  VITE_GLANCES_API:"ENTER_A_CUSTOM_GLANCES_URL"
      #  VITE_PING_API:"ENTER_A_CUSTOM_PING_URL"
    container_name: glanceboard
    restart: always
    ports:
      - "22222:80"
    depends_on:
      - glances
      - ping-api
